.direction {
    color: black;
    font-size: medium;
    background-color: coral;
    
     font-family:Arial, Helvetica, sans-serif
   }
   .direction:hover {
     color: blueviolet;
     background-color: aliceblue;
   }
   .name {
    color: black;
     font-size: medium;
     font-family:Arial, Helvetica, sans-serif
   }
   .SOL {
     color: violet;
      font-size: medium;
      font-family:Arial, Helvetica, sans-serif
    }
    .CHORUS {
     color: green;
      font-size: medium;
      font-family:Arial, Helvetica, sans-serif
    }
    .SOL {
     color: green;
      font-size: medium;
      font-family:Arial, Helvetica, sans-serif
    }
    .STR {
     color: green;
      font-size: medium;
      font-family:Arial, Helvetica, sans-serif
    }
    .CHA {
     color: green;
      font-size: medium;
      font-family:Arial, Helvetica, sans-serif
    }
    .MOU {
     color:hotpink;
      font-size: medium;
      font-family:Arial, Helvetica, sans-serif
    }
    .MOU{
     color:darksalmon;
     font-size: medium;
     font-family:Arial, Helvetica, sans-serif
    }
    .SONG {
     color:black;
      font-size: medium;
      font-family:Arial, Helvetica, sans-serif
    }
    .SPEECH {
     color:black;
      font-size: medium;
      font-family:Arial, Helvetica, sans-serif
    }
    #singers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color:darkolivegreen;
        color: white;
      }
    
      #singers td, #singers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      table, th, td {
        border: 1px solid black;
      }
      .name:hover{
        color: darkblue;
        background-color: yellow;
        
    }
    ul.navbar-horizontal {
        
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
        ul.navbar-horizontal li {
        float:left; 
        color:#000;
        background-color:yellow
        }
        ul.navbar-horizontal a {
        display:block;
        padding: 20px;
        color: violet;
        }
        ul.navbar-horizontal a:hover {
        background-color: #555;
        color:white;
        }
        img {
            width:300;
            height:300;
          }